@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

:root {
   
    --main-color:#00eeff;
    --text-color:#ffffff;
    --bg-color-01:#1f242d;
    --bg-color-02:#323946;
    --color-00: #0000001a;
    

    /* Extra */

    --color-01:#999999;
    --color-02:#009539;
    --color-03:#7950f2;
    --color-04:#c00000;
    --color-05:#232323;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-family: "Poppins", sans-serif;
}

body {
  max-width: 960px;
  margin: 4rem auto;
  padding: 3rem 1.5rem;
  background-color: #6e6e6e;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

/* Título centralizado e mais destacado */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  color: #000;
}

/* Parágrafos mais legíveis e centralizados */
p {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: var(--text-color);
}

/* Texto em negrito com cor escura para contraste */
b {
  color:var(--main-color);
  font-weight: 600;
}
